
.Contenedor-Bienvenida{
    margin: 2rem;
}

.Contenedor-Buttons{
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    
}

.Button{
    margin: 2rem 5rem 0 5rem;
    color: white;
    background-color: #3F7D58;
    border: none;
    font-size: 30px;
    border-radius: 10px;
    padding: 1rem;
}

.Button:hover{
    cursor: pointer;
    color: #3F7D58;
    background-color: white;
    border: 2px solid #3F7D58;
    transition: .5s;
}

@media screen and (max-width: 768px){
    .Contenedor-Buttons{
        flex-direction: column;
    }
}