<div *ngIf="rutaActual ==='/Hospital'">
    <app-carrusel [items]="carruselData"></app-carrusel>
    <div class="Contenedor">
        <div class="Contenedor-Bienvenida">
            <h1 class="Titulo-Bienvenida">Te damos la bienvenida a la medicina del futuro. Tu salud, nuestra prioridad.</h1>
            <p class="Parrafo Bienvenida"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat architecto, voluptas eaque veritatis totam sequi quibusdam expedita voluptate perferendis distinctio. Nesciunt beatae delectus voluptate ratione repellat hic perspiciatis nostrum ipsa? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore rerum quo non exercitationem nihil sed consequatur amet, enim, deserunt dolorem consectetur ipsam obcaecati ea ut magni? Laudantium et rerum laborum. </p>
            
        </div>
        <div class="Contenedor-Buttons">
            <button class="Button">Quiero registrarme</button>
            <button class="Button">Plan de salud</button>
        </div>

    </div>
</div>

<div *ngIf="rutaActual ==='/Hospital/PreguntasFrecuentes'">
    <div class="Contenedor-Bienvenida">
        <h1 class="Titulo-Bienvenida">Preguntas frecuentes</h1>
        <p class="Parrafo Bienvenida"> En este apartado tendras acceso a las consultas mas habituales. </p>
        <p class="Parrafo Bienvenida">Estamos para acompañarte antes, durante y después de tu paso por el Hospital.</p>   
        <ul>
            <li>¿Con que <a href="">especialidades</a> dispone el hospital?</li>
            <li>¿Cuales son los <a href="">horarios de atencion</a>?</li>
            <li>¿Cómo puedo solicitar <a href="">turnos</a>?</li>
            <li>¿Como puedo <a href="">registrarme</a>?</li>
            <li>¿Cómo ingreso por primera vez al <a href="">Portal de Pacientes</a>?.</li>
            <li>Tengo una <a href="">donacion</a>. ¿Como puedo entregarla?</li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

