.Footer{
    background-color:#3F7D58;
    height: 200px;
    display: flex;
    justify-content: space-around;
    color: white;
    
}
.Footer-Msg{
    margin-top: 2rem;
}

.Footer-Redes{
    margin-top: 2rem;
}

.Redes{
    list-style-type: none;
    padding-bottom: 10px ;
    font-size: 20px;
}

.Redes:hover{
    cursor: pointer;
}

.Redes img{
    height: 15px;
    width: 15px;
}
.Redes a{
    text-decoration: none;
    color: white;
}