<footer class="Footer">

    <div class="Footer-Msg">
        <h3>Developed by:</h3>
        <h4>Facundo Medina</h4>
    </div>
    <div class="Footer-Redes">
        <ul>
            <h3 class="Titulo-Redes">Mis redes: </h3>
            <li class="Redes"> <img src="../../../assets/Linkedin.png" alt=""> <a href="linkedin.com/in/facundomedina/">Linkedin</a></li>
            <li class="Redes"> <img src="../../../assets/Github.png" alt="" > <a href="https://github.com/FacundoMedina09">GitHub</a></li>
            <li class="Redes"> <img src="../../../assets/Twitter.png" alt=""> <a href="https://x.com/fsmc09">Twitter</a></li>
        </ul>
    </div>
</footer>
